node_modules/
dist/
out/
first-pass-poc/node_modules/
first-pass-poc/dist/
first-pass-poc/out/
app/node_modules/
app/dist/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
*.swp
*.swo
